/* configuracion general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #80FFDB, #5390D9);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 100px;
    margin: 50px;
    background: white;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

/* parte de la izquierda del cv */

.left-zone {
    color: #fff;
    position: relative;
    padding: 40px;
    background: #283d5c;
}

.div-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenCV {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}


#div-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#name {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.tittles {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#div-name h3 {
    font-size: 16px;
    font-weight: 300;
}

.date {
    margin-top: 15px;
}

.date li {
    position: relative;
    display: flex;
    list-style: none;
    margin: 10px 0;
}

.date img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.date span {
    font-weight: 300;
    margin-left: 10px;
}

.contact-container li {
    position: relative;
    display: flex;
    list-style: none;
    margin: 10px 0;
}

.contact-container img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.contact-container span {
    font-weight: 300;
    margin-left: 10px;
}

.contact-container a {
    font-weight: 300;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.study li {
    list-style: none;
    margin-bottom: 15px;
}

.study h5 {
    color: cyan;
    font-weight: 500;
}

.study h4 {
    font-weight: bolder;
    font-size: 17px;
    letter-spacing: 0.15px;
}

.study p {
    font-weight: 300;
}

.porcentaje {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    background: black;
}

.languages li {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1ec6ff;
}

/* parte de la derecha */

.right-zone {
    position: relative;
    padding: 40px;
    background: #fff;
}

.me {
    margin-bottom: 50px;
}

.tittles2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(53, 60, 68);
    margin-bottom: 20px;
}

.exp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 0;
}

.company {
    min-width: 150px;
}

.company h5 {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
}

.work h4 {
    display: flex;
    text-transform: uppercase;
    color: #3D3DFF;
    font-size: 16px;
    justify-content: center;
}

.skills h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    width: 25%;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.skills h4 .porcentaje {
    position: relative;
    width: 100%;
    height: 10px;
    background: #E6ECFF;
}

.skills .box .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #4D6AFF;
}

.interest {
    margin-top: 50px;
}

.interest ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.interest li {
    list-style: none;
    font-weight: 500;
    color: black;
    margin-top: 10px;
}

#more {
    cursor: pointer;
}

.div-more {
    margin-top: 20px;
    color: #4D6AFF;
    display: flex;
    justify-content: flex-end;
}

#course-add {
    list-style: none;
    margin-left: 20px;
}

.div-course {
    margin-top: 40px;
}

@media (max-width: 1000px) {
    .container {
        margin: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .exp {
        flex-direction: column;
        margin-bottom: 2px;
        align-items: flex-start;
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box .porcentaje {
        margin-top: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }
}