section {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px; 
}

.left-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: rgb(53, 60, 68);
    background: #00C9DD;
    background: -moz-linear-gradient(-45deg, #00C9DD 0%, #353C44 40%, #353C44 100%);
    background: -webkit-linear-gradient(-45deg, #00C9DD 0%, #353C44 40%, #353C44 100%);
    background: linear-gradient(135deg, #00C9DD 0%, #353C44 40%, #353C44 100%);
    color: #FFFFFF;
}

.imagenCV {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 50px;
    margin-bottom: 20px;
}


#div-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

}

#name {
    margin: 0px 0px 0px 0px;
    font-size: 30px;
}

#surname {
    margin: 0px 0px 0px 0px;
    font-size: 50px;
    color: aqua;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: brown;
    margin-top: 10px;
}

.right-zone {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    color: black;
    align-items: center;
}